@font-face {
  font-family: "iconfont"; /* Project id 5003211 */
  src: url('iconfont.woff2?t=1755923859342') format('woff2'),
       url('iconfont.woff?t=1755923859342') format('woff'),
       url('iconfont.ttf?t=1755923859342') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-back:before {
  content: "\e604";
}

.icon-search:before {
  content: "\e603";
}

.icon-success:before {
  content: "\e602";
}

.icon-error:before {
  content: "\e87c";
}

.icon-add:before {
  content: "\e623";
}

.icon-edit:before {
  content: "\e61d";
}

.icon-more:before {
  content: "\e606";
}

.icon-package:before {
  content: "\e6dc";
}

.icon-wechatpay:before {
  content: "\e65a";
}

.icon-zhifubaopay:before {
  content: "\e65e";
}

.icon-cart-fill:before {
  content: "\e887";
}

.icon-point-fill:before {
  content: "\e897";
}

.icon-cooperation-fill:before {
  content: "\e8a9";
}

.icon-shop-fill:before {
  content: "\e90e";
}

.icon-reduce-fill:before {
  content: "\e6e5";
}

.icon-refund-fill:before {
  content: "\e601";
}

.icon-transportation:before {
  content: "\e60f";
}

.icon-bag:before {
  content: "\e6c9";
}

.icon-wallet:before {
  content: "\e833";
}

.icon-product:before {
  content: "\e834";
}

.icon-calendar:before {
  content: "\e839";
}

.icon-calendar-fill:before {
  content: "\e83a";
}

.icon-location-fill:before {
  content: "\e83d";
}

.icon-assessed-badge:before {
  content: "\e84b";
}

.icon-gift-fill:before {
  content: "\e600";
}

.icon-point:before {
  content: "\e61a";
}

